body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222; /* Dunkler Hintergrund */
  color: #fff; /* Weiße Schriftfarbe */
}

.highscore-board {
  text-align: center;
}

table {
  justify-content: center;
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  margin-left: 500px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Hellgraue Linie zwischen den Zeilen */
}

th {
  background-color: #444; /* Dunkelgraues Hintergrund für Kopfzeile */
}

tr:nth-child(even) {
  background-color: #333; /* Dunkelgraues Hintergrund für gerade Zeilen */
}

tr:nth-child(odd) {
  background-color: #222; /* Noch dunkleres Hintergrund für ungerade Zeilen */
}
