<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Tolles Quiz</title>
  </head>
  <body>
    <div class="container">
      <div class="start-screen">
        <h1 class="heading">Quiz</h1>
        <div class="setting">
          <label for="num-questions">Number of Questions</label>
          <select name="" id="numquestions">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
          </select>
          <label for="category">Select Category</label>
          <select name="" id="category">
            <option value="">Random</option>
            <option value="9">HTML</option>
            <option value="10">PYTHON</option>
            <option value="11">JAVASCRIPT</option>
            <option value="12">VIDEOSPIELE</option>
            <option value="13">FILME</option>
          </select>
          <label for="difficulty">Select difficulty</label>
          <select name="" id="difficulty">
            <option value="">Zufällig</option>
            <option value="easy">Einfach</option>
            <option value="medium">Mittel</option>
            <option value="hard">Schwer</option>
          </select>
          <label for="time">Zeit pro Frage</label>
          <select name="" id="time">
            <option value="10">10 Sekunden</option>
            <option value="15">15 Sekunden</option>
            <option value="20">20 Sekunden</option>
            <option value="25">25 Sekunden</option>
            <option value="30">30 Sekunden</option>
            <option value="60">60 Sekunden</option>
          </select>
        </div>
        <button class="btn start">Let's go!</button>
      </div>
      <div class="quiz hide">
        <div class="timer">
          <div class="progress">
            <div class="progress-bar"></div>
            <span class="progress-text">50</span>
          </div>
        </div>
        <div class="question-wrapper">
          <div class="number">
            Frage <span class="current">1</span>
            <span class="total">/10</span>
          </div>
          <div class="question">Das hier ist eine Frage später</div>
        </div>
        <div class="answer-wrapper">
          <!-- <div class="answer selected">
            <span class="text">Und das eine Antwort</span>
            <span class="checkbox">
              <span class="icon">✓</span>
            </span>
          </div>
          <div class="answer correct">
            <span class="text">das auch Antwort</span>
            <span class="checkbox">
              <span class="icon">✓</span>
            </span>
          </div>
          <div class="answer wrong">
            <span class="text">und das Antwort</span>
            <span class="checkbox">
              <span class="icon">✓</span>
            </span>
          </div> -->
        </div>
        <button class="btn submit" disabled>Senden</button>
        <button class="btn next">Nächste Frage</button>
      </div>
      <div class="end-screen hide">
        <h1 class="heading">SUPER QUIZ</h1>
        <div class="score">
          <span class="score-text">Punktestand:</span>
          <div>
            <span class="final-score">0</span>
            <span class="total-score">/10</span>
          </div>
          <button class="btn restart">Neustart</button>
        </div>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
