* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.quiz,
.sandbox,
.sign-up,
.sign-in,
.htmlpage {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.quiz {
  background-image: url("/public/pictures/bluesprin.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sandbox {
  background-image: url("/public/pictures/brain.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url("/public/pictures/bridge.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.htmlpage-container {
  background-image: url("/public/pictures/bridge.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 20px;
}

.htmlpage-container {
  position: relative;
}

.htmlpage-text {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 20px;
}

.htmlpage-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  color: #fff;
}

.user-dashboard {
  background-color: #e7e7e7;
  color: #232323;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.user-info {
  margin-top: 20px;
}
