.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding-bottom: 20px;
  overflow: hidden;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #000000;

  box-shadow: 0px 0px 15px rgb(0, 0, 0.5);
}

.headerButtons {
  display: flex;
}

.headerButtons button {
  background-color: #ffffff;
  color: #333;
  margin-left: 0; /* Margin für den linken Button auf 0 setzen */
  margin-right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: verdana, sans-serif;
}

.headerButtons button:last-child {
  margin-right: 30px;
}

.headerButtons button:hover {
  background-color: #ff0000; /* Ändern Sie die Hintergrundfarbe beim Überfahren des Buttons */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-bottom: auto;
  background-color: #252525;
  padding: 320px;
  /* 320px */
}

.logo {
  width: 100px;
  height: 100px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  left: 15%;
  transform: translateX(-50%);
  display: inline-block;
  align-items: center;
  margin-right: 30px;
}

.dropbtn {
  background-color: #ffffff;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: verdana, sans-serif;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.showDropdown {
  display: block;
}

.hideDropdown {
  display: none;
}
.dropdownContent button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-family: verdana, sans-serif;
  background-color: #ff0000;
}

.dropdownContent button:hover {
  background-color: #ddd;
}

.dropbtn:hover {
  background-color: #ff0000; /* Ändern Sie die Hintergrundfarbe beim Überfahren des Dropdown-Buttons */
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #000000;
  padding: 20px;
  border-top: 2px solid #222;
  text-align: center;
  color: #ffffff;
  font-family: verdana, sans-serif;
  box-shadow: 0px 0px 15px rgb(0, 0, 0.9);
}
