/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
}

.background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.quiz-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  color: #fff;
}

.wheel {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #2c3e50;
  /* neu */
  position: relative;
}

.spinner {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.wheel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.spin-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.spin-button:hover {
  background-color: #2980b9;
}

.question-container {
  margin-top: 20px;
}

.check-answer {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.check-answer:hover {
  background-color: #2980b9;
}
